@import url("/node_modules/@fontsource/lato/index.css");

* {
  box-sizing: border-box;
}

html {
  font-family: lato, sans-serif;
}

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  padding-right: 20px;
  font-size: 23px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container2 {
  display: flex;
  text-align: left;
}

.first {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  background-color: #389989;
}

.seccond {
  background-color: #44a080;
}

.third {
  background-color: rgb(245, 200, 70);
  flex: 1;
}

.negrita {
  font-size: 26px;
  font-weight: bolder;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  font-size: 30px;
}

.formulario1 {
  display: flex;
  flex-direction: column;
}

.container2 {
  padding-bottom: 20px;
}

.ul-vertical {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: inline-block;
}

li {
  padding-top: 20px;
}

h1 {
  padding: 20px;
  font-size: 50px;
}

.seccond {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;
  color: white;
}

span {
  padding-left: 5px;
}

i {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 70px;
}

.dreta {
  display: flex;
  justify-content: end;
  text-align: end;
  align-items: center;
  padding-right: 20;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

h2 {
  font-size: 40px;
  padding-left: 20px;
}

label {
  display: block;
  margin-top: 20px;
  letter-spacing: 1px;
}

.principal {
  display: block;
  margin: 0 auto;
  width: 510px;
  color: #666666;
  font-family: Arial;
}

.formulario2 {
  width: 400px;
  padding-left: 20px;
}

input,
textarea {
  width: 380px;
  height: 27px;
  background: #666666;
  border: 2px solid #f6f6f6;
  padding: 10px;
  margin-top: 5px;
  font-size: 10px;
  color: #ffffff;
}

textarea {
  height: 150px;
}

#submit {
  width: 85px;
  height: 35px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

button {
  color: black;
}
