@import url("/node_modules/@fontsource/lato/index.css");

* {
  box-sizing: border-box;
}

html {
  font-family: lato, sans-serif;
}

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.first {
  display: flex;
  flex-direction: row;
  color: white;

  background-color: #389989;
}

.seccond {
  background-color: #44a080;
}

.third {
  background-color: rgb(245, 200, 70);
  flex: 1;
}

.negrita {
  font-size: 18px;
  font-weight: bolder;
}

.ul-vertical {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: inline-block;
}

li {
  padding-top: 20px;
}

h1 {
  padding: 20px;
}

.seccond {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;
}

span {
  padding-left: 5px;
}

i {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.dreta {
  display: flex;
  justify-content: end;
  text-align: end;
  align-items: center;
  padding-right: 20;
}
